*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

body{
    background: url(../assets/Images/pexels-pixabay-416778.jpg);
    background-size: cover;

}

.details{
    background-color: rgba(100, 100, 200, .35);
    border-radius: 20px;
}
.login-form{
    width: 350px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
}

.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;

}

.login-form p{
    font-size: 20px;
    margin: 15px 0;
}

.login-form input{
    font-size: 16px;
    width: 90%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 15px;
    background-color: rgba(300, 300, 200, .40);
}

.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    margin-left: 90px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border: 0;

}

.login-form button:hover{
    background-color: rgba(250, 250, 250, 0.3);
    transition: .2s;
    color: darkgrey;
}

.login-form #email_error,
.login-form #pass_error{
    margin-top: 5px;
    width: 345;
    font-size: 18px;
    color: #c62828;
    background-color: 255, 0, 0, 0.1;
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;

}