*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-1{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
   
  
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    top: 0;
    left: 0;

}

.logo{
    font-size: 50px;
    font-style: italic;
}

.logo span{
    color: brown;
}


.content{
    margin: 120px;
    font-size: 25px;

}

.main-2{
    text-align: center;
    margin-top: 150px;
}

.main-2 p{
    font-size: 25px;
    width: 700px;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 36px;
    letter-spacing: 1px;
}
.main-text{
    color: black;
    
}

.content h3{
    font-size: 40px;
    font-style: italic;
}

.main-2 h3{
    font-size: 40px;
    font-style: italic;
    margin-bottom: 50px;

}

#buk{
    font-size: 18px;
    font-weight: bold;
    margin: 130px;
    padding: 10px;
    width: 15%;
    border-radius: 10px;
    cursor: pointer;
    /* color: black; */
    color: darkgrey;
    border: 0;
    /* background-color: rgba(41, 5, 168, 0.5); */
    margin-top: 40px;
    background-color: brown;

}

#buk:hover{
    background-color: rgba(12,3,51,0.3);
    color: brown;
    /* background-color: brown; */
    transition: .2s;
}

#buk a{
    text-decoration: none;
    color: black;
}


#explore{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    width: 15%;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border: 0;
    background-color: rgba(41, 5, 168, 0.5);
    margin-top: 40px;

}

#explore:hover{
    background-color: brown;
    transition: .2s;
}

section{
    background-color: rgba(169, 169,169, 0.1);
    border-radius: 20px;
    margin: 100px;

}

.health h3{
    font-size: 45px;
    text-align: center;
    padding-top: 50px;


}

#cards{
    padding: 50px;  
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    text-align: center;
    font-size: 25px;
    padding-top: 1px;
}

#cards h5{
    font-size: 35px;
    margin-bottom: 15px;

}

#cards p{
    width: 80%;
    margin-left: 30px;
}
.cards-1{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    padding-top: 20px;
}

.cards-2{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    padding-top: 20px;
}

.cards-3{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
}


.cards-4{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    margin-right: 50px;
}

.cards-5{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    padding-top: 20px;
    
}

.cards-6{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;

}

.cards-7{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    padding-top: 20px;
    margin-bottom: 60px;
}

.cards-8{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.cards-9{
    margin-top: 200px;
}

.footer{
    margin: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
}

.futa{
    background-color: darkgrey;
    width: 100%;
    height: 50vh;
}
.about h3{
    font-size: 40px;
    font-style: italic;
    text-align: center;

}

.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px;
}

.info h5{
    font-size: 20px;
}
.info h5, p{
    margin-left: 15px;
}

.updates{
    text-align: center;
}

.updates h3{
    font-size: 40px;
    font-style: italic;
}

.updates p{
    font-size: 20px;
    margin-top: 15px;
}

.news{
    margin-top: 40px;
}

.news input{
    size: 20px;
}
