*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-1{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
   
  
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
}

.logo{
    font-size: 50px;
    font-style: italic;
}

.logo span{
    color: brown;
}

.login button a{
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: darkgrey;
    border: 0;
    margin-top: 40px;
    background-color: brown;

}

.login button a:hover{
    background-color: rgba(12,3,51,0.3);
    color: brown;
    transition: .2s;
}

.login button a{
    text-decoration: none;
    color: black;
}

.main-text{
    color: black;
    
}

.content h3{
    font-size: 40px;
    font-style: italic;
}

.content-1{
    margin: 120px;
    font-size: 25px;

}

