*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    top: 0;
    left: 0;

}

#main-1{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
   
  
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100vh;
}

.logo{
    font-size: 50px;
    font-style: italic;
}

.logo span{
    color: brown;
}

.login button a{
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    color: darkgrey;
    border: 0;
    margin-top: 40px;
    background-color: brown;

}

.login button a:hover{
    background-color: rgba(12,3,51,0.3);
    color: brown;
    transition: .2s;
}

.login button a{
    text-decoration: none;
    color: black;
}

.main-text{
    color: black;
    
}

.content h3{
    font-size: 40px;
    font-style: italic;
}

.content-1{
    margin: 120px;
    font-size: 25px;

}
/* json section */
h2{
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}

.exercise{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap: 50px;
    margin: 50px auto;
    max-width: 1240px;
    padding: 20px;

}

.exercise{
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);

}

.exercise img{
    width: 100%;
    display: block;
}

.exercise .title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.exercise .description{
    padding: 0 20px 20px 20px;
    line-height: 50px;
    
}
/* end of json */



#main-2{
    text-align: center;
    margin-top: 150px;
}

#main-2 p{
    font-size: 25px;
    width: 700px;
    margin-left: 450px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 36px;
    letter-spacing: 1px;
}

#main-2 h3{
    font-size: 40px;
    font-style: italic;
    margin-bottom: 50px;

}

#buk{
    font-size: 18px;
    font-weight: bold;
    margin: 130px;
    padding: 10px;
    width: 15%;
    border-radius: 10px;
    cursor: pointer;
    color: darkgrey;
    border: 0;
    margin-top: 40px;
    background-color: brown;

}

#buk:hover{
    background-color: rgba(12,3,51,0.3);
    color: brown;
    transition: .2s;
}

#buk a{
    text-decoration: none;
    color: black;
}


#explore{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    width: 15%;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border: 0;
    background-color: rgba(41, 5, 168, 0.5);
    margin-top: 40px;

}

#explore:hover{
    background-color: brown;
    transition: .2s;
}

section{
    background-color: rgba(169, 169,169, 0.1);
    border-radius: 20px;
    margin: 100px;

}

.health h3{
    font-size: 45px;
    text-align: center;
    padding-top: 50px;


}

#cards{
    padding: 50px;  
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    text-align: center;
    font-size: 25px;
    padding-top: 1px;
}

#cards h5{
    font-size: 35px;
    margin-bottom: 15px;

}

#cards p{
    width: 80%;
    margin-left: 30px;
}
.cards-1{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    padding-top: 20px;
}

.cards-2{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    padding-top: 20px;
}

.cards-3{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
}


.cards-4{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    margin-right: 50px;
}

.cards-5{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    padding-top: 20px;
    
}

.cards-6{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;

}

.cards-7{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    margin-right: 50px;
    padding-top: 20px;
    margin-bottom: 60px;
}

.cards-8{
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    margin-bottom: 60px;
    margin-right: 50px;
}

.cards-9{
    margin-top: 200px;
}

/* register section */
#log{
    background: url(./assets/Images/pexels-pixabay-416778.jpg);
    background-size: cover;
    background-position: center;
    padding: 100px;
    background-attachment: fixed;
}

.details{
    background-color: rgba(100, 100, 200, .35);
    border-radius: 20px;
}

.login-form{
    width: 350px;
    text-align: center;
    margin-left: 500px;
    margin-bottom: 110px;
    margin-top: 110px;
    
}

.login-form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;

}

.login-form p{
    font-size: 20px;
    margin: 15px 0;
}

.login-form input{
    font-size: 16px;
    width: 90%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 15px;
    background-color: rgba(300, 300, 200, .40);
}

.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 10px;
    margin-left: 35px;
    width: 50%;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    border: 0;

}

.login-form button a{
    text-decoration: none;
}

.login-form button:hover{
    background-color: rgba(250, 250, 250, 0.3);
    transition: .2s;
    color: darkgrey;
}

.login-form #email_error,
.login-form #pass_error{
    margin-top: 5px;
    width: 345;
    font-size: 18px;
    color: #c62828;
    background-color: 255, 0, 0, 0.1;
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;

}


.footer{
    margin: 15%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
}

.futa{
    background-color: darkgrey;
    width: 100%;
    height: 50vh;
}
.about h3{
    font-size: 40px;
    font-style: italic;
    text-align: center;

}

.info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 100px;
}

.info h5{
    font-size: 20px;
}
.info h5, p{
    margin-left: 15px;
}

.updates{
    text-align: center;
}

.updates h3{
    font-size: 40px;
    font-style: italic;
}

.updates p{
    font-size: 20px;
    margin-top: 15px;
}

.news{
    margin-top: 40px;
}

.news input{
    size: 20px;
}

